<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2020-01-08T16:05:29Z</date>
	<key>WorkspacePath</key>
	<string>/Volumes/Data/rsb/Work/2020/1/Matt/iOS/uplifting-news-texts-ios/project/CatFacts.xcodeproj</string>
</dict>
</plist>
